.searchbar-container,
.table-container {
  padding: 16px;
}

.searchbar {
  font-size: 25px;
  width: 80%;
  align-items: center;
}

.search-icon {
  font-size: 25px;
}

.new-user-button {
  width: calc(20% - 16px);
  margin-left: 16px;
}

th,
td {
  font-size: 16px;
  text-align: center !important;
}

table {
  width: 100%;
}

.content-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-weight: bolder;
}

.image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin: 8px auto;
}

.red {
  background-color: rgba(255, 0, 0, 0.67);
}

.green {
  background-color: rgba(58, 216, 23, 0.763);
}

.yellow {
  background-color: rgba(255, 183, 38, 0.856);
}

.w-75 {
  width: 16.67%;
}
