mat-dialog-content {
  width: 100%;
  font-size: larger;
}

mat-form-field {
  width: 100%;
}

.preview-image {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 95%;
  min-height: 300px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 200, "opsz" 48;
  font-size: 64px;
  color: grey;
}
