.spacer {
  flex: 1 1 auto;
}

.logo {
  width: 60px;
}

mat-sidenav {
  width: 350px;
  color: grey;
  text-align: center;
}

.content {
  min-height: calc(100vh - 64px);
  align-items: flex-start;

  font-size: 2rem;
  min-width: 980px;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

.menu-button {
  width: 100%;
  height: 5rem;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;

  padding-right: 64px;
}

.menu-button mat-icon {
  margin-right: 1rem;
}
