<div class="searchbar-container">
  <mat-form-field class="searchbar">
    <mat-icon matPrefix class="search-icon">search</mat-icon>
    <input
      matInput
      [(ngModel)]="value"
      autocomplete="off"
      placeholder="Search"
      (keyup)="applyFilter($event)"
      #input
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="new-user-button"
    (click)="createGift()"
  >
    Add Gift
  </button>
</div>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Serial No. Column -->
    <ng-container matColumnDef="serial">
      <th mat-header-cell *matHeaderCellDef>Serial No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.image" alt="profile image" />
      </td>
    </ng-container>

    <!-- Coins Column -->
    <ng-container matColumnDef="coins">
      <th mat-header-cell *matHeaderCellDef>Coins</th>
      <td mat-cell *matCellDef="let element">{{ element.coins }}</td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">{{ element.category }}</td>
    </ng-container>

    <!-- Is Free Column -->
    <ng-container matColumnDef="isFree">
      <th mat-header-cell *matHeaderCellDef>Is Free</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle
          color="primary"
          [checked]="element.block ? 'true' : 'false'"
        >
        </mat-slide-toggle>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="edit(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(element.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 15, 20]"
    showFirstLastButtons
    class="mat-elevation-z8"
  >
  </mat-paginator>
</div>
