<h1 mat-dialog-title *ngIf="!data">New User</h1>
<h1 mat-dialog-title *ngIf="data">Update User</h1>
<mat-dialog-content>
  <form [formGroup]="newUser">
    <div>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-icon matSuffix class="input-btn">account_circle</mat-icon>
        <mat-error
          *ngIf="newUser.controls['name'].touched && newUser.controls['name'].errors?.['required']"
          >Please enter your name</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone" required />
        <mat-icon matSuffix class="input-btn">contact_phone</mat-icon>
        <mat-error
          *ngIf="newUser.controls['phone'].touched && newUser.controls['phone'].errors?.['required']"
          >Please enter your phone number</mat-error
        >
      </mat-form-field>

      <span class="spacer"></span>

      <mat-form-field appearance="outline">
        <mat-label>ID Number</mat-label>
        <input matInput formControlName="id" />
        <mat-icon matSuffix class="input-btn">badge</mat-icon>
        <mat-error
          *ngIf="newUser.controls['id'].touched && newUser.controls['id'].errors?.['required']"
          >Please enter your ID number</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Balance</mat-label>
        <input matInput formControlName="balance" required />
        <mat-icon matSuffix class="input-btn">account_balance_wallet</mat-icon>
        <mat-error
          *ngIf="newUser.controls['balance'].touched && newUser.controls['balance'].errors?.['required']"
          >Please enter your balance</mat-error
        >
      </mat-form-field>

      <span class="spacer"></span>

      <mat-form-field appearance="outline">
        <mat-label>Received</mat-label>
        <input matInput formControlName="received" />
        <mat-icon matSuffix class="input-btn">savings</mat-icon>
        <mat-error
          *ngIf="newUser.controls['received'].touched && newUser.controls['received'].errors?.['required']"
          >Please enter your receive amount</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Gmail</mat-label>
        <input matInput formControlName="email" required />
        <mat-icon matSuffix class="input-btn">contact_mail</mat-icon>
        <mat-error
          *ngIf="newUser.controls['email'].touched && newUser.controls['email'].errors?.['required']"
          >Please enter your Gmail</mat-error
        >
      </mat-form-field>

      <span class="spacer"></span>

      <mat-form-field appearance="outline">
        <mat-label>Facebook</mat-label>
        <input matInput formControlName="facebook" />
        <mat-icon matSuffix class="input-btn">facebook</mat-icon>
        <mat-error
          *ngIf="newUser.controls['facebook'].touched && newUser.controls['facebook'].errors?.['required']"
          >Please enter your facebook ID</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Block</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="block" />
        <mat-datepicker-toggle matSuffix [for]="dp">
          <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
        </mat-datepicker-toggle>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker #dp></mat-datepicker>
        <mat-error
          *ngIf="newUser.controls['block'].touched && newUser.controls['block'].errors?.['required']"
          >Please select block date</mat-error
        >
      </mat-form-field>

      <span class="spacer"></span>

      <mat-form-field appearence="outline">
        <mat-label>Image</mat-label>
        <input matInput style="display: none" />
        <mat-icon matSuffix style="margin-right: 16px">image</mat-icon>
        <span style="margin-right: 64px"></span>
        <input type="file" formControlName="image" />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="accent" mat-dialog-close class="action-btn">
    Close
  </button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="newUser.invalid"
    class="action-btn"
    (click)="addUser()"
  >
    Save
  </button>
</mat-dialog-actions>
