mat-dialog-content {
  width: 100%;
  font-size: larger;
}

mat-form-field {
  width: 47.5%;
}

.spacer {
  margin-right: 5%;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-icon {
  color: grey;
}

.input-btn {
  margin-right: 8px;
}

.action-btn {
  width: 120px;
  font-size: larger;
}

.mat-option {
  border-radius: 2px;
}

.red {
  background-color: rgba(255, 0, 0, 0.67);
}

.green {
  background-color: rgba(58, 216, 23, 0.763);
}

.yellow {
  background-color: rgba(255, 183, 38, 0.856);
}
