<h1 mat-dialog-title *ngIf="!data">New Gift</h1>
<h1 mat-dialog-title *ngIf="data">Update Gift</h1>
<mat-dialog-content>
  <form [formGroup]="newLevel">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Coins</mat-label>
        <input matInput formControlName="coins" required />
        <mat-icon matSuffix class="input-btn">toll</mat-icon>
      </mat-form-field>

      <span class="spacer"></span>

      <mat-form-field appearance="outline">
        <mat-label>Level</mat-label>
        <input matInput formControlName="level" />
        <mat-icon matSuffix class="input-btn">category</mat-icon>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Block</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="block" />
        <mat-datepicker-toggle matSuffix [for]="dp">
          <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
        </mat-datepicker-toggle>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>

      <span class="spacer"></span>

      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <mat-select formControlName="image">
          <mat-option>Clear</mat-option>
          <mat-option value="beginner" class="yellow"> Beginner </mat-option>
          <mat-option value="intermediate" class="green"
            >Intermediate</mat-option
          >
          <mat-option value="advanced" class="red">Advanced</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="accent" mat-dialog-close class="action-btn">
    Close
  </button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="newLevel.invalid"
    class="action-btn"
    (click)="addLevel()"
  >
    Save
  </button>
</mat-dialog-actions>
